.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# we have no npm deps, so no need for a lock file
package-lock.json

# Editor directories and files
.idea
.vscode
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Private repo files
.private
